/* Estilize o container principal do quiz */
.quizz__container {
  width: 80%;
  margin: auto;
  margin-top: 20px;
  background-color: #2c3e50; /* Cor de fundo escura */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); /* Sombra suave */
  color: #ecf0f1; /* Cor do texto principal */
  font-family: 'Roboto', sans-serif; /* Fonte moderna */
}

/* Estilize o logo (se houver) */
.quizz_logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.quizz_logo > h3 {
  margin-top: 20px;
  font-size: 24px; /* Tamanho da fonte maior para destaque */
}

/* Estilize a área das perguntas */
.quizz_questions {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #34495e; /* Fundo escuro para destacar as perguntas */
  border-radius: 10px;
  margin-top: 20px;
  padding: 20px;
  text-align: center;
  font-size: 24px;
}

/* Estilize as opções de resposta */
.quizz_options {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 20px;
}

/* Estilize os botões de opção */
.btn-option {
  background-color: #3498db; /* Cor de fundo dos botões */
  border: none;
  border-radius: 10px;
  width: 45%;
  cursor: pointer;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  padding: 12px 20px;
  margin: 5px;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.btn-option:hover {
  background-color: #2980b9; /* Cor de fundo ao passar o mouse */
}

.btn-option:active {
  position: relative;
  top: 1px;
}

/* Estilize a área de resultados */
.quizz_results {
  width: 100%;
  height: 350px;
  background-color: #333; /* Cor de fundo verde para os resultados */
  border-radius: 10px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-size: 30px;
}
